* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-div {
  display: flex;
}

.head-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 7px rgb(230, 228, 228);
}

.head-section-1 {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  position: relative;
}

.youtube-in {
  position: absolute;
  right: 0;
  top: 6px;
  font-weight: 500;
  color: gray;
  font-size: 13px;
}

.head-section-2 {
  display: flex;
  /* border: 2px solid red; */
  width: 540px;
}

.head-section-2 > button {
  width: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid gray;
}

.head-section-2 > input {
  width: 100%;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid gray;
  outline: none;
  font-size: 18px;
  padding: 0px 10px;
  position: relative;
}

.head-section-3 {
  width: 200px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-suggestion-div {
  border: 1px solid black;
  position: absolute;
  background-color: white;
  width: 490px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px whitesmoke;
}

.search-suggestion-div > ul > li {
  padding: 6px 7px;
  list-style: none;
  display: flex;
  gap: 2px;
  align-items: center;
  border-radius: 4px;
}

.search-suggestion-div > ul > li:hover {
  cursor: pointer;
  background-color: rgb(238, 234, 234);
}

/* sideBar CSS */

.sidebar {
  max-width: 500px;
  margin-top: 15px;
  /* border: 2px solid red; */
}

.smallSection {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 0px 3px;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.3rem;
}

.videoCard {
  max-width: 300px;
}
.videoCard > img {
  border-radius: 10px;
}

.videoCard-link {
  text-decoration: none;
  color: black;
}

.videoCard-link > img {
  border-radius: 12px;
  transition: all;
  /* transition-delay: 0.1ms; */
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.videoCard-link > img:hover {
  box-shadow: 3px 3px 12px rgb(114, 102, 102);
}

.videoCard-desc {
  font-weight: 600;
}

.videoCard-title {
  font-size: 14px;
  color: rgb(97, 75, 75);
  font-weight: 500;
}

.videoCard-views {
  font-size: 14px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(141, 122, 122);
}

.ButtonList {
  margin: 15px 0px;
  display: flex;
  justify-content: space-evenly;
}

.btn-div > button {
  font-size: 16px;
  border-radius: 4px;
  padding: 3px 4px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  cursor: pointer;
}

.watch-video-div {
  margin: 15px 30px;
}

.watch-video-upper-div {
  display: flex;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #766df4 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #766df4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.loader-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel-data-div > img {
  border-radius: 20px;
}
.channel-data-div {
  display: flex;
  gap: 1rem;
}

.channel-data-viewcount {
  margin-top: 3px;
}

.video-title {
  font-size: 19px;
  padding: 7px 3px;
  font-weight: 500;
}

.comments-div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1100px;
}

.comment-details {
  display: flex;
  gap: 1rem;
}

.comment-details-img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.comment-details-auth-name {
  font-weight: 700;
  font-size: 13px;
}

.comment-details-text {
  font-size: 15px;
  font-weight: 400;
}

.watch-video-div-channel-title {
  font-weight: 700;
}
.VideoRecomendation-div {
  margin-top: 16px;
}

@media screen and (max-width: 400px) {
  iframe {
    height: 250px;
    width: 370px;
  }
  .watch-video-div {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .head-div {
    max-width: 400px;
    margin: 0 auto;
  } */

  .watch-video-upper-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .App {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .head-div {
    max-width: 400px;
  }

  .ButtonList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }

  .head-section-3 {
    display: none;
  }
}
